/*
Theme Name:         Reverie
Theme URI:          http://themefortress.com/reverie/
Description:        Reverie is a versatile HTML5 responsive WordPress framework based on ZURB's Foundation.
Version:            5.2.3
Author:             Zhen Huang
Author URI:         http://themefortress.com/

License:            MIT License
License URI:        http://www.opensource.org/licenses/mit-license.php
*/

/* -------------------------------------------------- 

	This stylesheet will not be loaded by default.
	
	The main stylesheet in css/style.css and
  scss/style.scss.

-------------------------------------------------- */

ul.breadcrumbs {
    margin-bottom: 0;
}


/* -------------------------------------------------- 

Header

-------------------------------------------------- */


img.logo {
    padding: .5rem 0px;
}

.entry-content {
    margin: 2rem 0 3rem;
}

.banner_bkg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   background-repeat: no-repeat;
}

.phonenumber {
  margin-top: 2rem;
  display: block;
  font-weight: bold;
  font-size: 1.2rem !important;
}

ul.socialmedia {
    display: inline-flex;
    list-style: none;
    margin: .5rem auto 0;
}

.facebook {
    width: 30px;
    height: 30px;
    margin-right: .5rem;
}

.twitter {
		width: 30px;
    height: 30px;
    margin-right: .5rem;
}
.linkedin {
  width: 30px;
  height:30px;
}

.accreditations-bkg {
    border-bottom: 2px solid #d23727;
    background: #f6f9f9;
}

.accreditations {
  margin-top:1.3rem;
}

/* -------------------------------------------------- 

Fonts

-------------------------------------------------- */

.white {
  color:#ffffff;
  }

.red {
  color:#d23727;
  }

.gray {
  color:#424343;
  }

h1.banner {
    padding: 11rem 0;
}

.subtext {
  	padding: 0 3rem;
    margin-bottom: 2rem;
  }

.cta {
  text-transform: uppercase;
  }

a.red.cta:hover {
  color:#424343; 
  }


/* -------------------------------------------------- 

Facilities Section

-------------------------------------------------- */

.facility_bkg {
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    padding: 2rem 0 1rem;
  	background: fixed;
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.facility_wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 184px;
}

.overlay {
		background:rgba(0,0,0,.75);
    text-align:center;
    padding:45px 0 66px 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;    
}
  
.facility_wrapper:hover .overlay {
 opacity:1;
}

a.facility_name h3.white {
    padding: 2rem 0;
    margin-top: 1rem;
    font-size: 1.45rem;
    text-decoration: underline;
}


/* -------------------------------------------------- 

Treatments Section

-------------------------------------------------- */

.gray_bkg {
    background: #59595c;
}

.red_bkg {
  background: #d23727;
}

img.treatment_icon {
    padding: 1rem 0;
}

.light_bkg {
    background: #ebebeb;
    padding: 1rem 1rem 3rem;
}

input#gform_submit_button_2 {
		cursor: pointer;
    font-size: 1rem;
    line-height: normal;
    padding: 0.5rem 4rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 300ms ease-out 0s;
    transition: background-color 300ms ease-out 0s;
  	border: 1px solid #d03627;
    background: #ffffff;
  	color: #d03627;
}

input#gform_submit_button_2:hover, input#searchsubmit:hover {
    background: #d03627;
  	color:#ffffff;
}

 input#searchsubmit {
		cursor: pointer;
    font-size: 1rem;
    line-height: normal;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 300ms ease-out 0s;
    transition: background-color 300ms ease-out 0s;
  	border: 1px solid #d03627;
    background: #ffffff;
  	color: #d03627;
}

.btn {
    cursor: pointer;
    font-size: 1rem;
    line-height: normal;
    padding: 0.5rem 4rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 300ms ease-out 0s;
    transition: background-color 300ms ease-out 0s;
}

.red.btn {
    border: 1px solid #d03627;
    background: #ffffff;
  }

.white.btn {
    border: 1px solid #ffffff;
    background: transparent;
  }

.btn:hover {
  background: #d03627;
  color:#ffffff;
  }

.btn_margin {
    margin: 2rem 0 3rem;
}


/* -------------------------------------------------- 

Steps Section Homepage

-------------------------------------------------- */

.step_icons {
    background-repeat: no-repeat;
    padding-left: 100px;
  	background-size:90px;
 }

/* -------------------------------------------------- 

Bottom Section Homepage

-------------------------------------------------- */
  
.bottom_section_bkg {
    background-repeat: no-repeat;
    padding: 2rem 0 2rem;
 	  margin-top: 2rem;
    background: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* -------------------------------------------------- 

About Page

-------------------------------------------------- */


.about_icon {
    background-repeat: no-repeat;
    padding-left: 100px;
    background-size: 80px;
}

.team_bkg {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2.5rem;
    padding: 2rem 0 3rem;
  	background-attachment: fixed;
}

.white_bkg {
    background: #fff;
    padding: 1rem 0;
}

.small-12.medium-12.columns.padding {
    padding: 2rem 1rem 2rem;
  	overflow: hidden;
}

/* -------------------------------------------------- 

Staff Page

-------------------------------------------------- */

.team_border {
  border:1px solid #59595c;
  border-top:none;
  }

.staff_position {
    margin: -1.5rem 0 2rem;
}

/* -------------------------------------------------- 

Facilities Page

-------------------------------------------------- */

li.facilities {
    margin-bottom: 3rem;
}

.small-12.columns.padding {
    padding-bottom: 2rem;
}

.row.staff-page {
    margin-bottom: 3rem;
}


/* -------------------------------------------------- 

Treatments Page

-------------------------------------------------- */

.gray_bkg.padding {
    padding: 3rem 0;
  	margin-bottom:2rem;
}

img.right_img {
    margin-top: 3rem;
}

ul.small-block-grid-1.medium-block-grid-3.large-block-grid-4.treatment_subpage li {
		background-image: url('../../uploads/2016/03/bullet_red.png');
    background-repeat: no-repeat;
    background-position: 5px 2px;
    padding-left: 2rem;
    line-height: 1;
  }

ul.small-block-grid-1.medium-block-grid-3.large-block-grid-4.treatment_subpage {
    margin: 2rem 0 2rem 1.1rem;
    font-size: .825rem;
    font-family: 'Cabin', sans-serif;
}

/* -------------------------------------------------- 

Footer

-------------------------------------------------- */

.footer_nav {
    float: right;
}

/* -------------------------------------------------- 

Employment Page

-------------------------------------------------- */

.job_border {
    border: 1px solid #59595c;
    padding: 1rem;
}

a.jobs {
    display: table-cell;
    vertical-align: middle;
    height: 67px;
}

h4.employee_name {
    margin-bottom: -.5rem;
}

.employee-quote {
  background-image: url('../../uploads/2016/06/multimedia.png');
    background-repeat: no-repeat;
    padding-left: 3rem;
}


/* -------------------------------------------------- 

Blog & Search

-------------------------------------------------- */

h2.blog {
    font-size: 2.25rem;
}

/* -------------------------------------------------- 

Scholarship Page

-------------------------------------------------- */

.gray_bkg.scholarship {
    padding: 2rem 1rem 1rem;
  	background: #333333;
}

.red_bkg.scholarship {
    padding: 2rem 1rem 1rem;
  	background: #a32222;
}

input#gform_submit_button_3 {
    cursor: pointer;
    font-size: 1rem;
    line-height: normal;
    padding: 0.5rem 4rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 300ms ease-out 0s;
    transition: background-color 300ms ease-out 0s;
    border: 1px solid #d03627;
    background: #ffffff;
  	color: #d03627;
}

input#gform_submit_button_3:hover {
    background: #d03627;
    color: #ffffff;
}

span.gfield_required {
    display: none;
}

.scholarship_banner {
  width:100%;
}

/* -------------------------------------------------- 

Mobile

-------------------------------------------------- */

@media only screen and (max-width: 40em) {
	img.logo {
    display:block;
  	margin:auto;
	}
  h1.red.staff_name {
    text-align: center;
}
  .staff_img {
    text-align: center;
}
  .about_icon {
    padding-left: 111px;
    }
  .overlay {
    padding:1rem 0;
    }
  .team_border {
    width: 270px;
    margin: auto;
}
}  

/* -------------------------------------------------- 

Medium Screens / Tablets

-------------------------------------------------- */


@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .overlay {
    padding: 1.5rem 0 2rem 0;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 60em) {
h4 {
    font-size: 1.3rem !important;
}
}

@media only screen and (min-width: 50.063em) and (max-width: 64em) {
.fullwidth_img img.attachment-full.size-full.wp-post-image {
    width: 100%;
}
}
